<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static  %}"     rel="stylesheet">
</head>
<body>aaaaaaaaaaa
{% block content %}

    {% if name == 'ali' %}
        <p>welcome ya {{ name }}</p>
    {% elif name == 'mohamed' %}
        <p>welcome ya {{ name }}</p>
    {% else %}
        <p>not found</p>
    {% endif %}

    {% for x in name %}
        <p>{{x}}</p>

    {%endfor%}



{% endblock content %}
</body>
</html>