<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">Login E-Clinic</h2>
            <div class="text-center mb-5 text-dark">Made by HossamWeb</div>
            <div class="card my-5">
              <form class="card-body cardbody-color p-lg-5">
                <div class="text-center"><img src="{% static 'imgs/stethoscope.jpg' %}" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="profile"></div>
                <div class="mb-3"><input type="text" class="form-control" id="Username" aria-describedby="emailHelp" placeholder="User Name"></div>
                <div class="mb-3"><input type="password" class="form-control" id="password" placeholder="password"></div>
                <div class="text-center"><button type="submit" class="btn btn-success w-100" >Login</button></div>
              </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>