<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registeration</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>


<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp" class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
          <div class="card-body p-4 p-md-5 ">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 d-flex justify-content-end ">تسجيل المريض</h3>

            <form class="px-md-2 ">

              <div class="form-outline mb-4">
                <label class="form-label d-flex justify-content-end" for="form3Example1q">الاسم</label>
                <input type="text" id="form3Example1q" class="form-control d-flex justify-content-end" />
              </div>

              <div class="row d-flex justify-content-end">
                <div class="col-md-6 mb-4">

                    <div class="form-outline datepicker">
                        <label for="exampleDatepicker1" class="form-label d-flex justify-content-end">التاريخ</label>
                        <input  type="text"  class="form-control d-flex justify-content-end" id="exampleDatepicker1" />
                    </div>

                    <div class="d-flex justify-content-end">
                        <div class="col-md-6 mb-4">
                            <label for="exampleDatepicker1" class="form-label d-flex justify-content-end">النوع</label>

                            <div class="d-flex justify-content-end">
                                <select class="select d-flex justify-content-end ">
                                    <option value="1"  >---</option>
                                    <option value="2" >ذكر</option>
                                    <option value="3" >انثى</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <div class="col-md-6 mb-4">
                            <label for="exampleDatepicker1" class="form-label d-flex justify-content-end">نوع الكشف</label>
                            <select class="select d-flex justify-content-end">
                                <option value="1" >---</option>
                                <option value="2">كشف جديد</option>
                                <option value="3">متابعة</option>
                                <option value="4">متابعة 2</option>
                            </select>
                        </div>
                    </div>

                </div>
              </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success btn-lg mb-1  ">حفظ </button>
                </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>