<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Patient</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-3 ">

        <h3 class="float-end">يجب البحث عن المريض اولا</h3>

        <div class="input-group mb-3">

            <button class="btn btn-success " type="submit" onclick="alert('this test')">بحث</button>
<!--onclick="show_patient_data"-->
<!--             onclick="document.getElementById('patient_data').style.display='block'"  this test    -->

            <input type="text" class="form-control " placeholder="اسم المريض" style="text-align:right;" >

        </div>
        <div id="patient_data" style="display: none; ">
            this div for get patient data if OK   == when بحث   clicked
        </div>
    </div>




<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>